* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  padding: 15px 0;
  background: #f5f5f6;
  display: flex;
}

.little-nav {
  display: flex;
  align-items: center;
  width: 640px;
  justify-content: space-between;
  margin-left: 210px;
}

img {
  width: 89px;
  height: 23px;
  margin-top: 9px;
  margin-left: 140px;
  background: url(./foto/logo.png);
}

a {
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #959BA4;
  text-decoration: none;
}

button {
  width: 58px;
  height: 33px;
  border: none;
  font-weight: bold;
  background: #FFFFFF;
  border-radius: 4px;
}

.button1 {
  position: absolute;
  left: 1310px;
  top: 20px; 
}

.box {
  text-align: center;
  padding: 5px;
  width: 65.06px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #e5e5e5;
}

h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 33px;
}

.main {
  width: 40%;
  margin-top: 40px;
  position: absolute;
  left: 450px;
  top: 106px;
}

.left-boxs,
.right-boxs {
  display: flex;
  width: 250px;
  height: 33px;
}

.amount {
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  width: 250px;
  height: 120px;
  margin-top: 20px;
}

.row1 {
  display: flex;
  justify-content: space-between;
}

input {
  margin-top: 11px;
  margin-left: 14px;
  width: 220px;
  height: 38px;
  border: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
   outline: none; 
}
input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {

  -webkit-appearance: none;

margin:0;

}

.active2 {
  font-weight: bold;
  color: black;
}

#firstdata,
#seconddata {
  height: 28px;
  margin-top: 30px;
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #C6C6C6;
}

.row p {
  margin-bottom: 10px;
  color: #9F9F9F;
}

.active {
  background-color: #833AE0;
  color: white;
}